{
  "log": {
    "_recordingName": "fetch-access-lists",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "43f5ccd924c84fec5e747c44bc7c7d42",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.astra.datastax.com/v2/access-lists"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1045,
            "text": "[{\"organizationId\":\"0aeb53ed-efa7-430b-ba57-e6c1a6adefb9\",\"databaseId\":\"c2015bd9-d56a-4147-b8de-74915182d077\",\"addresses\":[{\"address\":\"1.1.1.1/32\",\"description\":\"Test\",\"enabled\":true,\"lastUpdateDateTime\":\"2022-06-22 13:12:33.997 +0000 UTC\"},{\"address\":\"137.187.225.0/24\",\"description\":\"This address allows the database connections from the production environment.\",\"enabled\":true,\"lastUpdateDateTime\":\"2022-05-31 23:53:05.626 +0000 UTC\"},{\"address\":\"137.187.226.0/24\",\"description\":\"This address allows the database connections from the production environment.\",\"enabled\":true,\"lastUpdateDateTime\":\"2022-05-31 23:53:36.589 +0000 UTC\"}],\"configurations\":{\"accessListEnabled\":false}},{\"organizationId\":\"0aeb53ed-efa7-430b-ba57-e6c1a6adefb9\",\"databaseId\":\"eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e\",\"addresses\":[{\"address\":\"137.187.23.0/24\",\"description\":\"This address allows the database connections from the production environment.\",\"enabled\":true,\"lastUpdateDateTime\":\"2022-05-25 23:18:22.13 +0000 UTC\"}],\"configurations\":{\"accessListEnabled\":true}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 611,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
