{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "08b0bdde2ee5317278c15dd093abd498",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.astra.datastax.com/v2/organizations/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 519,
            "text": "{\"OrgID\":\"0aeb53ed-efa7-430b-ba57-e6c1a6adefb9\",\"OrgName\":\"stefan@creativice.com\",\"Users\":[{\"UserID\":\"2761dcd6-2df9-4a6f-b4a4-4915a66bdcf3\",\"Email\":\"stefan@creativice.com\",\"Status\":\"active\",\"Roles\":[{\"ID\":\"ad0566b5-2a67-49de-89e8-92258c2f2c98\",\"Name\":\"Organization Administrator\"}]},{\"UserID\":\"f92a66f7-5d21-4e2a-9c03-ac81f3023544\",\"Email\":\"d10p3t@gmail.com\",\"Status\":\"active\",\"Roles\":[{\"ID\":\"43745b73-ad46-46e4-b826-c15d06d2cea0\",\"Name\":\"Admin User\"},{\"ID\":\"b73e44b2-b9e9-43b8-a7c1-c6a2fe2dab50\",\"Name\":\"R/W User\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 602,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
