{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5a4c059b6761ea6c71bd33aa05d5beb2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.astra.datastax.com/v2/organizations/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 12798,
            "text": "[{\"id\":\"b4ed0e9e-67e8-47b6-8b58-c6629be961a9\",\"name\":\"R/W Svc Acct\",\"policy\":{\"description\":\"R/W Svc Acct\",\"resources\":[\"drn:astra:org:__ORG_ID__\",\"drn:astra:org:__ORG_ID__:db:*\",\"drn:astra:org:__ORG_ID__:db:*:keyspace:*\",\"drn:astra:org:__ORG_ID__:db:*:keyspace:*:table:*\"],\"actions\":[\"accesslist-read\",\"db-all-keyspace-describe\",\"db-keyspace-describe\",\"db-table-select\",\"db-table-modify\",\"db-table-describe\",\"db-graphql\",\"db-rest\",\"db-cql\"],\"effect\":\"allow\"},\"last_update_date_time\":\"0001-01-01T00:00:00Z\",\"last_update_user_id\":\"\"},{\"id\":\"43745b73-ad46-46e4-b826-c15d06d2cea0\",\"name\":\"Admin User\",\"policy\":{\"description\":\"Admin User\",\"resources\":[\"drn:astra:org:__ORG_ID__\",\"drn:astra:org:__ORG_ID__:db:*\",\"drn:astra:org:__ORG_ID__:db:*:keyspace:*\",\"drn:astra:org:__ORG_ID__:db:*:keyspace:*:table:*\"],\"actions\":[\"org-read\",\"org-billing-read\",\"org-billing-write\",\"org-cmk-read\",\"org-cmk-write\",\"org-user-read\",\"org-user-write\",\"org-db-create\",\"org-db-passwordreset\",\"org-db-terminat[...]
