{
  "log": {
    "_recordingName": "fetch-databases",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5fc8cecb87289cd081315e4c82c83fc1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.astra.datastax.com/v2/databases?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 7810,
            "text": "[{\"id\":\"eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e\",\"orgId\":\"0aeb53ed-efa7-430b-ba57-e6c1a6adefb9\",\"ownerId\":\"2761dcd6-2df9-4a6f-b4a4-4915a66bdcf3\",\"info\":{\"name\":\"test_transactions\",\"keyspaces\":[\"transaction\"],\"datacenters\":[{\"id\":\"eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-1\",\"name\":\"dc-1\",\"status\":\"\",\"tier\":\"serverless\",\"cloudProvider\":\"GCP\",\"region\":\"asia-south1\",\"regionZone\":\"apac\",\"regionClassification\":\"standard\",\"capacityUnits\":1,\"secureBundleUrl\":\"https://datastax-cluster-config-prod.s3.us-east-2.amazonaws.com/eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-1/secure-connect-test-transactions.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\\u0026X-Amz-Credential=AKIA2AIQRQ76TUCOHUQ4%2F20220607%2Fus-east-2%2Fs3%2Faws4_request\\u0026X-Amz-Date=20220607T161839Z\\u0026X-Amz-Expires=300\\u0026X-Amz-SignedHeaders=host\\u0026X-Amz-Signature=9b639e39dfa469d069016a4913524e796a2bc57b68008f7c4f660556eeeaafc5\",\"secureBundleInternalUrl\":\"https://datastax-cluster-config-prod.s3.us-east-2.amazonaws.com/eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-1/secure-connect-internal-test-transactions.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\\u0026X-Amz-Credential=AKIA2AIQRQ76TUCOHUQ4%2F20220607%2Fus-east-2%2Fs3%2Faws4_request\\u0026X-Amz-Date=20220607T161839Z\\u0026X-Amz-Expires=300\\u0026X-Amz-SignedHeaders=host\\u0026X-Amz-Signature=b434ed052d280bd298412372b66dda5e5f9bdb9cca1094052f43e0068ef41096\",\"secureBundleMigrationProxyUrl\":\"https://datastax-cluster-config-prod.s3.us-east-2.amazonaws.com/eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-1/secure-connect-proxy-test-transactions.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\\u0026X-Amz-Credential=AKIA2AIQRQ76TUCOHUQ4%2F20220607%2Fus-east-2%2Fs3%2Faws4_request\\u0026X-Amz-Date=20220607T161839Z\\u0026X-Amz-Expires=300\\u0026X-Amz-SignedHeaders=host\\u0026X-Amz-Signature=0a1a0c031947ad2b443f25358e0d30ff95e003fef4cae5447e893f20db356243\",\"secureBundleMigrationProxyInternalUrl\":\"https://datastax-cluster-config-prod.s3.us-east-2.amazonaws.com/eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-1/secure-connect-proxy-internal-test-transactions.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\\u0026X-Amz-Credential=AKIA2AIQRQ76TUCOHUQ4%2F20220607%2Fus-east-2%2Fs3%2Faws4_request\\u0026X-Amz-Date=20220607T161839Z\\u0026X-Amz-Expires=300\\u0026X-Amz-SignedHeaders=host\\u0026X-Amz-Signature=81428a9a0a04e82cb14ca3c4184ce363926294ca8955193d271191a0960e8c76\",\"dateCreated\":\"2022-05-25T22:44:45Z\"}],\"keyspace\":\"transaction\",\"cloudProvider\":\"GCP\",\"tier\":\"serverless\",\"capacityUnits\":1,\"region\":\"asia-south1\"},\"creationTime\":\"2022-05-25T22:44:45Z\",\"terminationTime\":\"0001-01-01T00:00:00Z\",\"status\":\"HIBERNATED\",\"storage\":{\"nodeCount\":3,\"replicationFactor\":1,\"totalStorage\":5},\"metrics\":{\"writeRequestsTotalCount\":0,\"readRequestsTotalCount\":0,\"liveDataSizeBytes\":0,\"errorsTotalCount\":0},\"cost\":{\"costPerMinCents\":0,\"costPerHourCents\":0,\"costPerDayCents\":0,\"costPerMonthCents\":0,\"costPerMinMRCents\":0,\"costPerHourMRCents\":0,\"costPerDayMRCents\":0,\"costPerMonthMRCents\":0,\"costPerMinParkedCents\":0,\"costPerHourParkedCents\":0,\"costPerDayParkedCents\":0,\"costPerMonthParkedCents\":0,\"costPerNetworkGbCents\":0,\"costPerWrittenGbCents\":0.1,\"costPerReadGbCents\":0.1},\"availableActions\":[\"resumeHibernatedCluster\",\"getCreds\",\"addKeyspace\",\"removeKeyspace\",\"terminate\",\"terminateDatacenter\",\"migrateServerlessTenant\"],\"studioUrl\":\"https://eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-asia-south1.studio.astra.datastax.com\",\"grafanaUrl\":\"https://eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-asia-south1.dashboard.astra.datastax.com/d/cloud/dse-cluster-condensed?refresh=30s\\u0026orgId=1\\u0026kiosk=tv\",\"cqlshUrl\":\"https://eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-asia-south1.apps.astra.datastax.com/cqlsh\",\"graphqlUrl\":\"https://eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-asia-south1.apps.astra.datastax.com/api/graphql\",\"dataEndpointUrl\":\"https://eb4fc9f8-f2b4-4d15-a93a-2dbd50c8d72e-asia-south1.apps.astra.datastax.com/api/rest\",\"lastUsageTime\":\"2022-05-31T23:42:53Z\",\"observedStatus\":\"HIBERNATED\"},{\"id\":\"c2015bd9-d56a-4147-b8de-74915182d077\",\"orgId\":\"0aeb53ed-efa7-430b-ba57-e6c1a6adefb9\",\"ownerId\":\"2761dcd6-2df9-4a6f-b4a4-4915a66bdcf3\",\"info\":{\"name\":\"reference_database\",\"keyspaces\":[\"reference\"],\"datacenters\":[{\"id\":\"c2015bd9-d56a-4147-b8de-74915182d077-1\",\"name\":\"dc-1\",\"status\":\"\",\"tier\":\"serverless\",\"cloudProvider\":\"GCP\",\"region\":\"asia-south1\",\"regionZone\":\"apac\",\"regionClassification\":\"standard\",\"capacityUnits\":[...]
